img{
    height: 450px;
    margin: 0em 1.5em;
}

.content{
    display: flex;
    font-size: 1.2em;
    margin-top: 2em;
}

.main > p{
    font-size: 1.5em;
}

.book_genre{
    padding-top: 1em;
    color: gray;
}

.return>img{
    height: 25px
}