body{
    margin: 0;
    background-color: lightgrey;
    display: flex;
}


.sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    min-width: 15em;
    background-color: #dca27a;
}

.section-title{
    font-size: 20px;
    padding-top: 2%;
}

.profil-section{
    height: 10%;
    background-color: #c58f65;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profil-section > p{
    margin: 0.2em;
}

.link-section{
    padding-left: 1.5em;
}

a{
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.main{
    flex-grow: 1;
    overflow: auto;
}

.top{
    display: flex;
    align-items: center;
}

.buttonfilter{
    background-color: #e7a878;
    margin: 0 3em;
    border: #c5895c 2px solid;
    border-radius: 10px;
    align-items: center;
    height: 2.5em;
}

.search_bar{
    margin: 1.5em;
}

input[type='search']{
    width: 75%;
    height: 3em;
    border: 0;
    border-radius:20px;
    padding: 0px 15px;
}

input:focus{
    outline-width: 0;
}


.checkbox{
    width: 13px;
    height: 30px;
    margin: 3px 10px;
}

.checkboxgenre{
    display: flex;
    align-items: center;
}

.filter-container{
    width: 75%;
    display: flex;
    justify-content: flex-end;
}

.filter{
    width: 840px;
    max-width: 100%;
    height: 230px;
    background-color: #e7a878;
    border-radius: 20px;
    margin-top: 1em;
    padding: 1em;
    display: flex;
    overflow: auto;
}

.genre{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90%;
    width: 480px;
    border-right: black 1px solid;
    padding-right: 20px;
    margin-right: 20px;
}

.grade-date{
    min-width: 300px;
}

.select{
    margin-top: 10px;
}

.grade{
    padding-bottom: 20px;
    border-bottom: black 1px solid;
    margin-bottom: 20px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin: 20px auto;
  }


.slider {
    -webkit-appearance: none; /* Supprime le style par défaut */
    appearance: none;
    width: 100%;
    height: 2px;
    align-self: center;
    justify-self: center;
    position: relative;
    background: black;
    z-index: 3;
    margin: 0;
    padding: 0;
    transform: translateY(27px);
}


 /* Style du curseur */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Supprime le style par défaut */
    appearance: none;
    width: 10px;
    height: 10px;
    background: black; /* Couleur du curseur */
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 4;

}

.slider::-moz-range-thumb .slider::-ms-thumb{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    z-index: 4;
}

.slider-scale {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: 1;
}

input[type='text']{
    width: 20%;
}

.date{
    padding-top: 10px;
}
