.content{
    overflow: auto;

}

.section{
    display: flex;
    align-items: center;
}

.list-title{
    padding-left: 3%;
    font-size: 30px;
    padding-top: 1em;
}

.list-container {
    display: flex;
    align-items: center;
    width: 95%;
    overflow: hidden;
    position: relative;
  }

.books_list{
    display: flex;
    margin-top: 2em;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    transition: transform 0.5s ease;
    width: 95%;

}

.books{
    width: 180px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.books>img{
    padding: 0em 3em;
    width: 98px;
    height: 147px;
}

.arrow {
    top: 50%;
    transform: translateY(-50%);
    background-color: #c5895c;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 20px;
    border-radius: 5px;
  }

.book_info>a{
    text-align: center;
    text-decoration: underline;
    margin-right: 10px;
}
.book_info>a>p{
    margin: 0;
}

.book_info{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.book_info>img{
    height: 20px;
    width: 4px;
}

.clickable{
    cursor: pointer;
}

