<html lang="eng">
<head>
    <meta charset="utf-8">
    {% block link %}
    <title> BookHaven - Home page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/common.css') }}">

    {% endblock %}
</head>

<body>
    <div class="" id="overlay"></div>
    <div class="sidebar">
        <div class="profil-section">
            {% if user %}
                <div>{{ user.username }}</div>
                <div>{{ user.email }}</div>
                <a href="{{ url_for('home') }}" class="deco">Log out</a>
            {% else %}
                <p>You can <a href="/connexion"> Log in here.</a></p>
                <p>No account? <a href="/inscription">Sign up here.</a></p>
            {% endif %}
        </div>
        <div class="link-section">
            <div class="side-search">
                <p class="section-title"><a href="{{ url_for('home', **({'user_id': user.id} if user else {})) }}"> Home page </a> </p>
                <p>Common research:</p>
                <p><a href="{{ url_for('search', nr=1, quickSearch='Best', **({'user_id': user.id} if user else {})) }}">Best score</a></p>
                <p><a href="{{ url_for('search', nr=1, quickSearch='New', **({'user_id': user.id} if user else {})) }}">New books</a></p>
                <p><a href="{{ url_for('search', nr=1, quickSearch='Romance', **({'user_id': user.id} if user else {})) }}"> Romance</a></p>
                <p><a href="{{ url_for('search', nr=1, quickSearch='Fantasy', **({'user_id': user.id} if user else {})) }}">Fantasy</a></p>
            </div>
            {% if user %}
            <div class="">
                <p class="section-title">Your profil:</p>
                <p> <a href="{{ url_for('recommendation', user_id=user.id, nr=1) }}"> Recommandations</a></p>
                <p><a href="{{ url_for('book_list', user_id=user.id) }}">Your books</a></p>
                <p><a href="{{ url_for('about', user_id = user.id) }}">About</a></p>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="main">
        <div class="search_bar">
                <div class="top">
                    <input type="search" id="query" name="query" {% if query %} value="{{ query }}" {% endif %} placeholder="Enter a title">
                    <button style="display: flex" class="buttonfilter" id="showfilter" onclick="changeClasses('show')"> Show more filter </button>
                    <button style="display: none" class="buttonfilter" id="hidefilter" onclick="changeClasses('hid')"> Hid more filter </button>
                </div>
                <div style="display: none" class="filter-container" id="filter">
                    <div class="filter">
                    <div>
                        Genres:
                        <div class="genre">
                            {% for g in genres %}
                                <div class="checkboxgenre">
                                        <input type="checkbox" id="{{ g }}" class="checkbox" name="genre" value="{{ g }}" {% if genre and g.split(',')[0].split('-')[0] in genre %} checked {% endif %}><br>
                                    <label> {{ g }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="checkboxgenre">
                            <input type="checkbox" id="read" class="checkbox" name="read" {% if hide %} checked {% endif %}><br>
                            <label>Don't show book marked as read</label>
                        </div>
                    </div>
                    <div class="grade-date">
                        <div>
                            Grade:
                            <div class="grade">
                                <select id="gradecomp" class="select">
                                    <option value="above">Above</option>
                                    <option value="below" {% if grade and grade.split('/')[1]=="below" %} selected="selected" {% endif %}>Below</option>
                                </select>
                                <div class="slider-container">
                                  <div class="slider-scale">
                                    <span>1</span>
                                    <span>2</span>
                                    <span>3</span>
                                    <span>4</span>
                                    <span>5</span>
                                  </div>

                                  <input type="range" class="slider" id="note-slider" name="grade" min="1" max="5" step="1" {% if grade %} value="{{ grade.split('/')[0] }}" {% else %} value="1"{% endif %}>
                                </div>

                            </div>
                        </div>
                        <div>
                            Date:
                            <div>
                                <select id="datecomp" class="select">
                                        <option value="after">After</option>
                                        <option value="before" {% if date and date.split('/')[1]=="before" %} selected="selected" {% endif %}>Before</option>
                                    </select>
                                <div class="date">
                                    <div>
                                    <label>Year:</label>
                                    <input type="number" min="0" max="2050" step="1" id="year" {% if date %} value="{{ date.split('/')[0] }}" {% endif %}>
                                    </div>
                                    <button onclick="createURL()"> Search </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>


                </div>
        </div>
        {% block main %}
        <div class="content">
            <div class="recent">
                <div class="list-title">
                    Most recent books
                </div>
                <div class="section">
                    <button class="arrow arrow-left1" onclick="scrollDown(1)" style="visibility: hidden;"> < </button>
                    <div class="list-container">
                        <div class="books_list" id="booklist1">
                            {% for book in recents %}
                                <div class="books" >
                                    <img src="{{ book.img_path }}">
                                    <div class="book_info">
                                    <a href="{{ url_for('close_up', book_id=book.id, **({'user_id': user.id} if user else {})) }}">
                                        <p title="{{ book.title }}">
                                            {% if book.title|length>30 %}
                                            {{ book.title[:30] }}...
                                            {% else %}
                                            {{ book.title }}
                                            {% endif %}
                                        </p>
                                        <p>{{ r_author[book.author_id][0] }}</p>
                                    </a>
                                    </div>
                                    <p> {{ book.date.day }}/{{ book.date.month }}/{{ book.date.year }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="arrow arrow-right1" onclick="scrollUp(1)"> > </button>

                </div>

            </div>
            <div class="best">
                <div class="list-title">
                    Most popular books
                </div>
                <div class="section">
                    <button class="arrow arrow-left2" onclick="scrollDown(2)" style="visibility: hidden;"> < </button>
                    <div class="list-container">
                        <div class="books_list" id="booklist2">
                            {% for book in best %}
                                <div class="books" >
                                    <img src="{{ book.img_path }}">
                                    <div class="book_info">
                                    <a href="{{ url_for('close_up', book_id=book.id, **({'user_id': user.id} if user else {})) }}">
                                        <p title="{{ book.title }}">
                                            {% if book.title|length>30 %}
                                            {{ book.title[:30] }}...
                                            {% else %}
                                            {{ book.title }}
                                            {% endif %}
                                        </p>
                                        <p>{{ b_author[book.author_id][0] }}</p>
                                    </a>
                                    </div>
                                    <p> {{ book.date.day }}/{{ book.date.month }}/{{ book.date.year }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="arrow arrow-right2" onclick="scrollUp(2)"> > </button>

                </div>
            </div>
        </div>
 {% endblock %}
    </div>

<script>
    const user = {{ user.id }}
    document.getElementById('query').addEventListener('keypress', function(event) {
        if (event.key==='Enter'){
            event.preventDefault();
            createURL()
        }
    });

    function createURL(){
        let query= document.getElementById('query').value;
        let url = new URL("{{ url_for('search', nr=1, query='') }}" + encodeURIComponent(query), window.location.origin);

        let checkboxes = document.getElementsByName('genre');
        let selected_genres = "";
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selected_genres += encodeURIComponent((checkboxes[i].value.split(',')[0]).split("-")[0]) + "/" ;
            }
        }
        let grade = document.getElementById('note-slider').value;
        let gradeComp = document.getElementById('gradecomp').value;
        let date = document.getElementById('year').value;
        let hide_read = document.getElementById('read').checked;

        if (selected_genres!='') {
            url.searchParams.append('genre', selected_genres);
        }
        if(date!=''){
            let dateComp = document.getElementById('datecomp').value;
            url.searchParams.append('date', date+'/'+dateComp);
        }
        if(user){
            url.searchParams.append('user_id', user);
        }
        url.searchParams.append('grade', grade+'/'+gradeComp);
        if(hide_read){
            url.searchParams.append('hide', 'true')
        }

        window.location.href = url.toString();
    }

    function changeClasses(s){
        event.preventDefault()
        let show = document.getElementById('showfilter');
        let hide = document.getElementById('hidefilter');
        let filter = document.getElementById('filter');
        if(s==="show"){
            show.style.display = 'none';
            hide.style.display = 'flex';
            filter.style.display = 'flex';
        }
        else{
           show.style.display = 'flex';
           hide.style.display = 'none';
           filter.style.display = 'none';
        }
    }

    let Index1 = 0;
    let Index2 = 0;
    const itemsToShow = 6; // Nombre d'éléments visibles
    const itemWidth = 230; // Largeur d'un élément (en pixels)

    function updateArrowsVisibility(i) {
        let id, right, left;
        if (i ==1 ){
            currentIndex = Index1;
            id = 'booklist1';
            left = '.arrow-left1';
            right = '.arrow-right1';
        }
        else {
            currentIndex = Index2;
            id = 'booklist2';
            left = '.arrow-left2';
            right = '.arrow-right2';
        }
      const totalItems = document.getElementById(id).children.length;
      const leftArrow = document.querySelector(left);
      const rightArrow = document.querySelector(right);

      if (currentIndex === 0) {
        leftArrow.style.visibility = 'hidden';
      } else {
        leftArrow.style.visibility = 'visible';
      }

      if (currentIndex + itemsToShow >= totalItems-1) {
        rightArrow.style.visibility = 'hidden';
      } else {
        rightArrow.style.visibility = 'visible';
      }
    }



    function scrollUp(i) {
        let id = '';
        if (i ==1 ){
            currentIndex = Index1;
            id = 'booklist1';
        }
        else {
            currentIndex = Index2;
            id = 'booklist2';

        }
        const carousel = document.getElementById(id);

        currentIndex++;
        const offset = -currentIndex * itemWidth;
        carousel.style.transform = `translateX(${offset}px)`;

        if (i ==1 ){
            Index1 = currentIndex;
        }
        else {
            Index2 = currentIndex;
        }
        updateArrowsVisibility(i);
    }

    function scrollDown(i) {
        let id = '';
        if (i ==1 ){
            currentIndex = Index1;
            id = 'booklist1';
        }
        else {
            currentIndex = Index2;
            id = 'booklist2';
        }
        const carousel = document.getElementById(id);
        const totalItems = carousel.children.length;

        currentIndex--;

        const offset = -currentIndex * itemWidth;

        carousel.style.transform = `translateX(${offset}px)`;

        if (i ==1 ){
            Index1 = currentIndex;
        }
        else {
            Index2 = currentIndex;
        }
        updateArrowsVisibility(i);
    }

    function deleteConfirmation(s){
        const overlay = document.getElementById('overlay')
        const popUp = document.getElementById('pop-up')
        if (s==='open'){
            popUp.classList.add('active')
            overlay.classList.add('active')
        }
        else{
            popUp.classList.remove('active')
            overlay.classList.remove('active')
        }
    }

    function deleteAccount(){
        if (user){
            fetch("{{ url_for('deleteAccount', user_id='') }}" + encodeURIComponent(user))
            .then(response => response.json())
            .then(data => {
                console.log(data);
            });
            window.location.href = '{{ url_for('home') }}'
        }
    }

    function changeSave(user_id, book_id, s, type){
        const book = book_id
        const user = user_id
        fetch('/save', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ user_id: user, book_id: book, command: s, type: type })
        })
        .then(response => {
            if (response.ok) {
                console.log("Data sent successfully.");
                window.location.reload()

            } else {
                console.error("Failed to send data.");
            }
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }


    function showOption(id, s){
        const button = document.getElementById('more_button' + id);
        const menu = document.getElementById('more_menu' + id);
        const menus = document.querySelectorAll('.more_menu')
        menus.forEach(m => m.classList.add('hidden'))
        if (menu.classList.contains('hidden')){
            const rect = button.getBoundingClientRect();
            console.log(rect)
            menu.style.top = `${rect.bottom}px`;
            menu.style.left = `${rect.left}px`;
            menu.classList.remove('hidden');
        }
        else{
            menu.classList.add('hidden');
        }
    }


</script>

{% block addScript %}
{% endblock %}

</body>


</html>